body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f8ff;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 100px;
}

h1 {
  color: #333;
}

.difficulty-buttons button {
  padding: 12px 25px;
  margin: 10px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #5eb1ef;
  color: white;
  transition: background-color 0.3s;
}

.difficulty-buttons button:hover {
  background-color: #3a8fd0;
}
